                p { 
                font-size:14pt; 
                color:red; 
                } 
                p:lang(pl) { 
                font-weight:bold; 
                color: orange; 
                } 
                p:lang(en) { 
                font-style:italic; 
                color: yellow;
                } 
                body {
                background-color: gray;
                }
