*{
    font-size: 35pt;
    color: red;
    background-color: silver;
}
p.klasa_nieuniwersalna_kasubowski, 
p.klasa_nieuniwersalna_kasubowski * {
    font-size: 30pt;
    color: green;
}
*.klasa_uniwersalna_kasubowski{
    font-size: 23pt;
    color: green;
}
